.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    width: 400px;
    height: 400px;
    font-size: 30px;
    margin-left: 400px;
    margin-right: 140px;
    word-break: break-all;
  }

  .card_text{
    font-size: 30px;
    margin-bottom: 5%;
  }
  