.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    width: 400px;
    height: 400px;
    font-size: 30px;
    margin-left: 10%;
    margin-right: 140px;
  }

  .card_text{
    font-size: 30px;
    margin-bottom: 5%;
  }
  

  .lazy-button{
    background-color: white;
    color: black;
    border: 2px solid black; /* Green */
    font-size: 16px;
    border-radius: 20px;
  }