
<mat-card class="example-card">
    <mat-card-header style="margin-top: 20%;">
      <mat-card-title-group style="margin: auto; display: block; text-align: center;">
        <mat-card-title class="card_text">Lazy Loading
        </mat-card-title>
        <mat-card-subtitle class="card_text">
            <button class="btn btn-light" (click)="loadLazyModule()" class="lazy-button">Visit Page</button>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="card_text" style="text-align: center;">
    </mat-card-content>
  </mat-card>